.login-container {
    max-width: 300px;
    margin: auto;
    padding: 30px;
    border: 2px solid #ccc;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(100, 98, 88, 0.2);
    background-color: #e25d10;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #45a049;
    color: rgb(185, 73, 73);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #5bb15f;
}