.register-container {
    max-width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #3171a8;
}

.register-container label {
    display: block;
    margin-bottom: 8px;
}

.register-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.register-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    background-color: #45a049;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-container input[type="submit"]:hover {
    background-color: #5bb15f;
}

.register-container select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

